.mb-button {
position: relative;
display: inline-block;
margin-bottom: 1em; border: none;
outline: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none; text-shadow: none;
text-transform: none;
-webkit-font-smoothing: subpixel-antialiased !important; font-size: 17px; font-family: 'Open Sans';
background: #2bc470;
color: #FFF !important;
text-decoration: none !important;  -webkit-transition: all linear 0.2s;
-moz-transition: all linear 0.2s;
transition: all linear 0.2s; -webkit-border-radius: 0.25em;
-moz-border-radius: 0.25em;
border-radius: 0.25em; cursor: pointer;  padding: 1em 2em; line-height: 1.5;   }
.mb-button a {
color: #FFF;
}
.mb-button.mb-disabled {
cursor: pointer;
opacity: .35;
}
.mb-button.mb-size-micro {
font-size: 10px;
padding: .5em 1.2em;
}
.mb-button.mb-size-tiny {
font-size: 11px;
padding: .75em 1.4em;
}
.mb-button.mb-size-small {
font-size: 14px;
padding: .75em 1.70em;
}
.mb-button.mb-size-large {
font-size: 21px;
padding: 1em 2.25em;
}
.mb-button.mb-size-jumbo {
font-size: 28px;
padding: 1em 2.75em;
}
.mb-button.full-width {
width: 100%;
padding: 0;
}
.mb-button.mb-style-flat { }
.mb-button.mb-style-flat:hover {
background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
}
.mb-button.mb-style-traditional {
background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}
.mb-button.mb-style-traditional:hover {
background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
}
.mb-button.mb-style-traditional:active {
background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15));
background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15));
background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15));
background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15));
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15));
}
.mb-button.mb-style-reversed {
border: 0.1em solid rgba(0, 0, 0, 0.15);
background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.05));
background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.05));
background-image: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.05));
background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.05));
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.05));
}
.mb-button.mb-style-reversed:hover {
background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.08));
background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.08));
background-image: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.08));
background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.08));
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.08));
}
.mb-button.mb-style-reversed:active {
background-image: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.05));
background-image: -moz-linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.05));
background-image: -ms-linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.05));
background-image: -o-linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.05));
background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.05));
}
.mb-button.mb-style-bordered {
border: 0.2em solid rgba(0, 0, 0, 0.05);
border-top: 0.1em solid rgba(255, 255, 255, 0.1);
}
.mb-button.mb-style-bordered:hover {
background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}
.mb-button.mb-style-bordered:active {
background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.mb-button.mb-style-glass { background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.06) 51%, rgba(0, 0, 0, 0.02));
background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.06) 51%, rgba(0, 0, 0, 0.02));
background-image: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.06) 51%, rgba(0, 0, 0, 0.02));
background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.06) 51%, rgba(0, 0, 0, 0.02));
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.06) 51%, rgba(0, 0, 0, 0.02));
}
.mb-button.mb-style-glass:hover {
background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.04) 51%, rgba(0, 0, 0, 0));
background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.04) 51%, rgba(0, 0, 0, 0));
background-image: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.04) 51%, rgba(0, 0, 0, 0));
background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.04) 51%, rgba(0, 0, 0, 0));
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.04) 51%, rgba(0, 0, 0, 0));
}
.mb-button.mb-style-raised { border-bottom: 0.2em solid rgba(0, 0, 0, 0.25);
}
.mb-button.mb-style-raised:hover {
background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}
.mb-button.mb-corners-default {
-webkit-border-radius: 0.25em;
-moz-border-radius: 0.25em;
border-radius: 0.25em;
}
.mb-button.mb-corners-straight {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.mb-button.mb-corners-pill {
-webkit-border-radius: 3em;
-moz-border-radius: 3em;
border-radius: 3em;
}
.mb-button.mb-text-style-default {
font-weight: 400;
letter-spacing: 0;
}
.mb-button.mb-text-style-light {
font-weight: 300;
letter-spacing: .05em;
}
.mb-button.mb-text-style-heavy {
font-weight: 700;
letter-spacing: .10em;
text-transform: uppercase;
}